In [2]:
import pandas as pd
import numpy as np

# Data : 1 'House Rental Data'

### 1. Load rental data with first column as index column (Solved)

In [3]:
house_rental = pd.read_csv('https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/house_rental_data.csv.txt',index_col='Unnamed: 0')
house_rental.head()

       Sqft  Floor  TotalFloor  Bedroom  Living.Room  Bathroom  Price
1  1177.698      2           7        2            2         2  62000
2  2134.800      5           7        4            2         2  78000
3  1138.560      5           7        2            2         1  58000
4  1458.780      2           7        3            2         2  45000
5   967.776     11          14        3            2         2  45000

### 2. Find all houses which has more than 2 bedroom and price less than 50k

### 3. Find all houses which has more than 3 bedroom and price less than 50k. Update their price with 60k

### 4. Find no of house who's price is updated in previous question.

### 5. Find average price of house.

###  6. Find average price of house respective to bedroom.
example : avg price of house of 1 bedroom then 2 ...so on

### 7. Find details of house whose price is highest.

### 8. Sort the given data by price in ascending order

### 9. Display all details of house with 1 bedroom first then 2 bedroom.. and so on.
Note use Groupby then describe

### 10. Display all details of each house with 1 bedroom first then 2 bedroom.. and so on.

# Data : 2 'Health Care Data'

## Load rental data with first column as index column (Solved)

In [159]:
# link -- > https://github.com/edyoda/data-science-complete-tutorial/blob/master/Data/HealthCareData-1.xlsx
# click on view raw it will download file automatically in your system then you this file as syntax below
hc_df = pd.read_excel('HealthCareData.xlsx')
hc_df.head()

,S.NO,Age,Gender,Place(location where the patient lives),Duration of alcohol consumption(years),Quantity of alcohol consumption (quarters/day),Type of alcohol consumed,Hepatitis B infection,Hepatitis C infection,Diabetes Result,...,Indirect (mg/dl),Total Protein (g/dl),Albumin (g/dl),Globulin (g/dl),A/G Ratio,AL.Phosphatase (U/L),SGOT/AST (U/L),SGPT/ALT (U/L),USG Abdomen (diffuse liver or not),Predicted Value(Out Come-Patient suffering from liver cirrosis or not)
0,1,55,male,rural,12,2,branded liquor,negative,negative,YES,...,3.0,6.0,3.0,4.0,0.75,150.0,56,34,YES,YES
1,2,55,male,rural,12,2,branded liquor,negative,negative,YES,...,3.0,6.0,3.0,4.0,0.75,150.0,56,34,YES,YES
2,3,55,male,rural,12,2,branded liquor,negative,negative,YES,...,3.0,6.0,3.0,4.0,0.75,150.0,56,34,YES,YES
3,4,55,male,rural,12,2,branded liquor,negative,negative,NO,...,3.0,6.0,3.0,4.0,0.75,150.0,56,34,YES,YES
4,5,55,female,rural,12,2,branded liquor,negative,negative,YES,...,3.0,6.0,3.0,4.0,0.75,150.0,56,34,YES,YES

### 1. Display all the information respective to gender.

### 2. Find all the male who is consuming alcohal more than 5 years and has diabetes result positive.

### 3. Find where more people consume alcohol in rural or urban?

### 4. Find average age of male and female who consume alcohol.

### 5. Display distribution for different type of alcohol.

### 6. Display average age of perople who has diabetes positive.

### 7. Find is there any missing value of age in given data.

### 8. If gender is male and age is less than 35 then change diabetes result to NO .

### 9. Find all record where Place is missing.

### 10. Change place to urban if gender is female else rural.