### Objectives
1. Recap of Decision Tree
2. Assumptions of Decision Tree
3. Understanding Attribute selection algorithmn
    - Information Gain
    - Gini Impurity
    
* References
    - https://victorzhou.com/

### Recap of Decision Tree
* The general motive of using Decision Tree is to create a training model which can use to predict class or value of target variables by learning decision rules inferred from prior data(training data).
*  The decision tree algorithm tries to solve the problem, by using tree representation. 
* Each internal node (pink) of the tree corresponds to an attribute, and each leaf(blue) node corresponds to a class label.

<img src="https://github.com/edyoda/Data-Scientist-program/blob/master/Data-Science/Decision%20Tree.png?raw=true">

### Assumptions of Decision Tree
* Feature values are preferred to be categorical. If the values are continuous then they are discretized prior to building the model.
* Records are distributed recursively on the basis of attribute values.
* Order to placing attributes as root or internal node of the tree is done by using some statistical approach. (TBD today)

### Improtance of metrices
* What is the most important thing to improve that thing ?
* If you cannot measure something, you cannot improve it.
* If you want to improve something, find a way to measure it.

<hr> <b>
NOTE : The primary challenge in the decision tree implementation is to identify which attributes do we need to consider as the root node and each level. Handling this is to know as the attributes selection. We have different attributes selection measures to identify the attribute which can be considered as the root note at each level.
</b><hr>

### How Decision Trees Work
* The decision of making strategic splits heavily affects a treeâ€™s accuracy. The decision criteria are different for classification and regression trees.
* We can say that the purity of the node increases with respect to the target variable. The decision tree splits the nodes on all available variables and then selects the split which results in most homogeneous(same target values) sub-nodes.
* Two types of algorithms are available in scikit-learn
    - Information Gain
    - Gini Impurity

## Information Gain 
<img src="https://github.com/edyoda/Data-Scientist-program/blob/master/Assignment/images/DT6.png?raw=true">


<img src="https://github.com/edyoda/Data-Scientist-program/blob/master/Assignment/images/DT7.png?raw=true">


<img src="https://github.com/edyoda/Data-Scientist-program/blob/master/Assignment/images/DT8.png?raw=true">

<img src="https://github.com/edyoda/Data-Scientist-program/blob/master/Assignment/images/DT9.png?raw=true" height="70%">

<b>Understanding Entropy is important for getting hang of Information Gain</b>
* Entropy is a measure of the randomness in the information being processed. 
* The higher the entropy, the harder it is to draw any conclusions from that information. 
* Flipping a coin is an example of an action that provides information that is random.
* Entropy can be roughly thought of as how much variance the data has.

<img src="https://miro.medium.com/max/274/0*0EjpvqWE7YcGDOIQ.png">

* From the above graph, it is quite evident that the entropy H(X) is zero when the probability is either 0 or 1. 

<img src="https://github.com/edyoda/Data-Scientist-program/blob/master/Assignment/images/DT12.png?raw=true">

<img src="https://github.com/edyoda/Data-Scientist-program/blob/master/Assignment/images/DT13.png?raw=true">

<img src="https://github.com/edyoda/Data-Scientist-program/blob/master/Assignment/images/DT14.png?raw=true">

In [4]:
import numpy as np
#5/10 red balls, 5/10 is green balls
- ( (5/10)* np.log2(5/10) + (5/10)* np.log2(5/10) )

1.0

In [7]:
- ((2/7)* np.log2(2/7) + (5/7)*np.log2(5/7))

0.863120568566631

In [8]:
Entropy_Split = .7 * .86 + .3 * 0

In [9]:
Entropy_Split

0.602

In [10]:
Information_Gain = 1 - .602

In [11]:
Information_Gain

0.398

In [12]:
import pandas as pd

In [13]:
tennis_data = pd.read_csv('https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/tennis.csv.txt')

In [26]:
tennis_data.head()

    outlook  temp humidity  windy play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes
4     rainy  cool   normal  False  yes

In [21]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder()
feature_target = oe.fit_transform(tennis_data)

In [22]:
feature_target

array([[2., 1., 0., 0., 0.],
       [2., 1., 0., 1., 0.],
       [0., 1., 0., 0., 1.],
       [1., 2., 0., 0., 1.],
       [1., 0., 1., 0., 1.],
       [1., 0., 1., 1., 0.],
       [0., 0., 1., 1., 1.],
       [2., 2., 0., 0., 0.],
       [2., 0., 1., 0., 1.],
       [1., 2., 1., 0., 1.],
       [2., 2., 1., 1., 1.],
       [0., 2., 0., 1., 1.],
       [0., 1., 1., 0., 1.],
       [1., 2., 0., 1., 0.]])

In [20]:
oe.categories_

[array(['overcast', 'rainy', 'sunny'], dtype=object),
 array(['cool', 'hot', 'mild'], dtype=object),
 array(['high', 'normal'], dtype=object),
 array([False,  True]),
 array(['no', 'yes'], dtype=object)]

#### What is the Entropy of the data ?
* A. Measure of randomness is always with respect to target

In [23]:
tennis_data.play.value_counts()

yes    9
no     5
Name: play, dtype: int64

$EntropyBeforeSplit = -[(5/14)*\log (5/14) + (9/14)\log (9/14)]$

In [46]:
EntropyBeforeSplit = - ((5/14)*np.log2(5/14) + (9/14)*np.log2(9/14))

In [47]:
EntropyBeforeSplit

0.9402859586706309

#### What are the attributes from which we have to select the best one ?
* A. Outlook, Temp, Humidity, Windy

#### How is the data discretized by Decision Tree?
This is done using Binning Techniques

* For Outlook column value ranges from [0,1,2]
  - Buckets [.,0.5,1.5,.]
  
* For Temp column
  - Buckets [.,0.5,1.5,.]
  
* For Humidity columns
  - Buckets [.,0.5,.]
  
* For Windy column
  - Buckets [.,0.5,.]

### What are the possible questions or decisions?
* For Outlook attribute, questions can be any of the following
  - (a) outlook < 0.5, (b) outlook < 1.5
* For Temp attribute, questions can be
  - (c) temp < 0.5, (d) temp < 1.5
* For Humidity
  - (e) humidity < 0.5
* For Windy
  - (f) windy < 0.5
  
<b>Conclusion : We have six questions to choose from for this dataset during training</b>

#### Which question to select from above ones ?
* A. The question using which if we split, we get maximum information gain.

### Let's calculate Information Gain using all these & identify the best question for root

* Let's check for question a

In [35]:
data = pd.DataFrame(feature_target, columns=['outlook','temp','humidity','windy','play'], dtype='int')

In [40]:
data[data.outlook <= 0.5]

    outlook  temp  humidity  windy  play
2         0     1         0      0     1
6         0     0         1      1     1
11        0     2         0      1     1
12        0     1         1      0     1

In [41]:
data[data.outlook > 0.5]

    outlook  temp  humidity  windy  play
0         2     1         0      0     0
1         2     1         0      1     0
3         1     2         0      0     1
4         1     0         1      0     1
5         1     0         1      1     0
7         2     2         0      0     0
8         2     0         1      0     1
9         1     2         1      0     1
10        2     2         1      1     1
13        1     2         0      1     0

In [42]:
data[data.outlook > 0.5].play.value_counts()

1    5
0    5
Name: play, dtype: int64

$EntropyRightSplit = 1$

$EntropyLeftSplit = 0$

$EntropySplit = (4/14)*0 + (10/14)*1$

In [44]:
EntropySplit = (10/14)

In [45]:
EntropySplit

0.7142857142857143

$InformationGain = EntropyBeforeSplit - EntropySplit$

In [48]:
Information_Gain = EntropyBeforeSplit - EntropySplit

In [50]:
Information_Gain_Question_a = Information_Gain

In [51]:
Information_Gain_Question_a

0.22600024438491662

* Let's check information gain for question b outlook < 1.5

In [52]:
data[data.outlook <= 1.5]

    outlook  temp  humidity  windy  play
2         0     1         0      0     1
3         1     2         0      0     1
4         1     0         1      0     1
5         1     0         1      1     0
6         0     0         1      1     1
9         1     2         1      0     1
11        0     2         0      1     1
12        0     1         1      0     1
13        1     2         0      1     0

In [54]:
data[data.outlook > 1.5]

    outlook  temp  humidity  windy  play
0         2     1         0      0     0
1         2     1         0      1     0
7         2     2         0      0     0
8         2     0         1      0     1
10        2     2         1      1     1

In [57]:
EntropyLeftSplit = -((2/9)*np.log2(2/9) + (7/9)*np.log2(7/9))

In [58]:
EntropyRightSplit = -((2/5)*np.log2(2/5) + (3/5)*np.log2(3/5))

In [60]:
EntropySplit = (9/14)* EntropyLeftSplit + (5/14)*EntropyRightSplit

In [61]:
EntropySplit

0.8380423950607804

In [62]:
Information_Gain_Question_b = EntropyBeforeSplit - EntropySplit

In [63]:
Information_Gain_Question_b

0.10224356360985054

* Repeat the steps for rest of the 4 questions.
* Choose the decision with highest information gain
* Based on my prev experiments, (a) decision was chosen because of higest information gain

#### Now, we will be creating the subtree, root is decision (a)

In [64]:
subtree = data[data.outlook > 0.5]

In [65]:
subtree

    outlook  temp  humidity  windy  play
0         2     1         0      0     0
1         2     1         0      1     0
3         1     2         0      0     1
4         1     0         1      0     1
5         1     0         1      1     0
7         2     2         0      0     0
8         2     0         1      0     1
9         1     2         1      0     1
10        2     2         1      1     1
13        1     2         0      1     0

In [66]:
EntropyBeforeSplit = 1

* Let's test for questions c (temp <= 0.5) & e (humidity <= 0.5)

In [69]:
subtree[subtree.temp <= 0.5]

   outlook  temp  humidity  windy  play
4        1     0         1      0     1
5        1     0         1      1     0
8        2     0         1      0     1

In [70]:
subtree[subtree.temp > 0.5]

    outlook  temp  humidity  windy  play
0         2     1         0      0     0
1         2     1         0      1     0
3         1     2         0      0     1
7         2     2         0      0     0
9         1     2         1      0     1
10        2     2         1      1     1
13        1     2         0      1     0

In [71]:
EntropyLeftSplit = -( (1/3)*np.log2(1/3) + (2/3)*np.log2(2/3))

In [72]:
EntropyLeftSplit

0.9182958340544896

In [73]:
EntropyRightSplit = -( (3/7)*np.log2(3/7) + (4/7)*np.log2(4/7))

In [74]:
EntropyRightSplit

0.9852281360342515

In [75]:
EntropySplit = (3/10)* EntropyLeftSplit + (7/10)* EntropyRightSplit

In [76]:
EntropySplit

0.965148445440323

In [77]:
Information_Gain_Question_c = EntropyBeforeSplit - EntropySplit

In [78]:
Information_Gain_Question_c

0.034851554559677034

<hr>

* Using decision e

In [79]:
subtree[subtree.humidity <= 0.5]

    outlook  temp  humidity  windy  play
0         2     1         0      0     0
1         2     1         0      1     0
3         1     2         0      0     1
7         2     2         0      0     0
13        1     2         0      1     0

In [80]:
subtree[subtree.humidity > 0.5]

    outlook  temp  humidity  windy  play
4         1     0         1      0     1
5         1     0         1      1     0
8         2     0         1      0     1
9         1     2         1      0     1
10        2     2         1      1     1

In [81]:
EntropyLeftSplit = -( (1/5)*np.log2(1/5) + (4/5)*np.log2(4/5))

In [82]:
EntropyRightSplit = -( (1/5)*np.log2(1/5) + (4/5)*np.log2(4/5))

In [83]:
EntropySplit = (5/10)*EntropyLeftSplit + (5/10)*EntropyRightSplit

In [84]:
EntropySplit

0.7219280948873623

In [85]:
Information_Gain_Question_e = EntropyBeforeSplit - EntropySplit

In [86]:
Information_Gain_Question_e

0.2780719051126377

### Now work on both the subtrees
* subtree[subtree.humidity <= 0.5]
* subtree[subtree.humidity > 0.5]

In [87]:
EntropyLeftSplit

0.7219280948873623

### Starting with Left Subtree

In [89]:
EntropyBeforeSplit = EntropyLeftSplit

In [90]:
current_subtree = subtree[subtree.humidity <= 0.5]

In [91]:
current_subtree

    outlook  temp  humidity  windy  play
0         2     1         0      0     0
1         2     1         0      1     0
3         1     2         0      0     1
7         2     2         0      0     0
13        1     2         0      1     0

## Gini Impurity

<img src="https://github.com/edyoda/Data-Scientist-program/blob/master/Assignment/images/DT6.png?raw=true">


<img src="https://github.com/edyoda/Data-Scientist-program/blob/master/Assignment/images/DT7.png?raw=true">


<img src="https://github.com/edyoda/Data-Scientist-program/blob/master/Assignment/images/DT8.png?raw=true">

<img src="https://github.com/edyoda/Data-Scientist-program/blob/master/Assignment/images/DT9.png?raw=true">

<img src="https://github.com/edyoda/Data-Scientist-program/blob/master/Assignment/images/DT10.png?raw=true">

<img src="https://github.com/edyoda/Data-Scientist-program/blob/master/Assignment/images/DT11.png?raw=true">

<img src="https://github.com/edyoda/Data-Scientist-program/blob/master/Assignment/images/DT2.png?raw=true">

<img src="https://github.com/edyoda/Data-Scientist-program/blob/master/Assignment/images/pic.png?raw=true">

<h3>PS : A Gini Impurity of 0 is the lowest and best possible impurity. It can only be achieved when everything is the same class (e.g. only blues or only greens).</h3>

<img src="https://github.com/edyoda/Data-Scientist-program/blob/master/Assignment/images/DT3.png?raw=true">

<img src="https://github.com/edyoda/Data-Scientist-program/blob/master/Assignment/images/DT4.png?raw=true">

<img src="https://github.com/edyoda/Data-Scientist-program/blob/master/Assignment/images/DT5.png?raw=true">

In [1]:
import pandas as pd

In [2]:
tennis_data = pd.read_csv('https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/tennis.csv.txt')

In [3]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder()
feature_target = oe.fit_transform(tennis_data)

In [7]:
data = pd.DataFrame(feature_target, columns=['outlook','temp','humidity','windy','play'], dtype='int')

In [9]:
from sklearn.tree import DecisionTreeClassifier, export_graphviz

In [5]:
dt = DecisionTreeClassifier(criterion='gini')

In [8]:
dt.fit(data.drop(columns=['play']),data.play, )

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [42]:
export_graphviz(dt, 'dt-gini.tree',feature_names=['outlook','temp','humidity','windy'])

<img src="https://github.com/edyoda/Data-Scientist-program/blob/master/Assignment/images/gini-2.png?raw=true">

In [11]:
data

    outlook  temp  humidity  windy  play
0         2     1         0      0     0
1         2     1         0      1     0
2         0     1         0      0     1
3         1     2         0      0     1
4         1     0         1      0     1
5         1     0         1      1     0
6         0     0         1      1     1
7         2     2         0      0     0
8         2     0         1      0     1
9         1     2         1      0     1
10        2     2         1      1     1
11        0     2         0      1     1
12        0     1         1      0     1
13        1     2         0      1     0

In [12]:
data.play.value_counts()

1    9
0    5
Name: play, dtype: int64

In [17]:
GiniBeforeSplit = (5/14)*(1-5/14) + (9/14)*(1-9/14)

In [18]:
GiniBeforeSplit

0.4591836734693877

#### How is the data discretized by Decision Tree?
This is done using Binning Techniques

* For Outlook column value ranges from [0,1,2]
  - Buckets [.,0.5,1.5,.]
  
* For Temp column
  - Buckets [.,0.5,1.5,.]
  
* For Humidity columns
  - Buckets [.,0.5,.]
  
* For Windy column
  - Buckets [.,0.5,.]

### What are the possible questions or decisions?
* For Outlook attribute, questions can be any of the following
  - (a) outlook < 0.5, (b) outlook < 1.5
* For Temp attribute, questions can be
  - (c) temp < 0.5, (d) temp < 1.5
* For Humidity
  - (e) humidity < 0.5
* For Windy
  - (f) windy < 0.5
  
<b>Conclusion : We have six questions to choose from for this dataset during training</b>

* Finding Gini gain for question b

In [22]:
data[data.outlook < 1.5]

    outlook  temp  humidity  windy  play
2         0     1         0      0     1
3         1     2         0      0     1
4         1     0         1      0     1
5         1     0         1      1     0
6         0     0         1      1     1
9         1     2         1      0     1
11        0     2         0      1     1
12        0     1         1      0     1
13        1     2         0      1     0

In [23]:
GiniLeft = (2/9)*(1-2/9) + (7/9)*(1-7/9)

In [26]:
GiniLeft

0.345679012345679

In [21]:
data[data.outlook > 1.5]

    outlook  temp  humidity  windy  play
0         2     1         0      0     0
1         2     1         0      1     0
7         2     2         0      0     0
8         2     0         1      0     1
10        2     2         1      1     1

In [25]:
GiniRight = (2/5)*(1-2/5) + (3/5)*(1-3/5)

In [27]:
GiniRight

0.48

In [28]:
GiniSplit = (9/14)*GiniLeft + (5/14)*GiniRight

In [29]:
GiniSplit

0.3936507936507937

In [30]:
GiniGain = GiniBeforeSplit - GiniSplit

In [31]:
GiniGain

0.06553287981859401

* Calculate Gini Gain for decision a

In [32]:
data[data.outlook < 0.5]

    outlook  temp  humidity  windy  play
2         0     1         0      0     1
6         0     0         1      1     1
11        0     2         0      1     1
12        0     1         1      0     1

In [33]:
GiniLeft = 0

In [34]:
data[data.outlook > 0.5]

    outlook  temp  humidity  windy  play
0         2     1         0      0     0
1         2     1         0      1     0
3         1     2         0      0     1
4         1     0         1      0     1
5         1     0         1      1     0
7         2     2         0      0     0
8         2     0         1      0     1
9         1     2         1      0     1
10        2     2         1      1     1
13        1     2         0      1     0

In [35]:
GiniRight = .5
#yes & no for play is 5 each

In [36]:
GiniSplit = (4/14) * 0 + (10/14)*.5

In [37]:
GiniSplit

0.35714285714285715

In [38]:
GiniGain = GiniBeforeSplit - GiniSplit

In [39]:
GiniGain

0.10204081632653056

* Working on the subtree

In [40]:
subdata = data[data.outlook > 0.5]

In [41]:
GiniBeforeSplit = GiniRight

* Checking for decision e

In [43]:
subdata[subdata.humidity < .5]

    outlook  temp  humidity  windy  play
0         2     1         0      0     0
1         2     1         0      1     0
3         1     2         0      0     1
7         2     2         0      0     0
13        1     2         0      1     0

In [44]:
GiniLeft = (1/5)*(1-1/5) + (4/5)*(1-4/5)

In [45]:
GiniLeft

0.32

In [46]:
subdata[subdata.humidity > .5]

    outlook  temp  humidity  windy  play
4         1     0         1      0     1
5         1     0         1      1     0
8         2     0         1      0     1
9         1     2         1      0     1
10        2     2         1      1     1

In [47]:
GiniRight = (1/5)*(1-1/5) + (4/5)*(1-4/5)

In [48]:
GiniSplit = (5/10)*GiniLeft + (5/10)*GiniRight

In [49]:
GiniSplit

0.32

In [50]:
GiniBeforeSplit

0.5

In [51]:
GiniGain = GiniBeforeSplit - GiniSplit

In [52]:
GiniGain

0.18

### Questions :
* Which attribute selection menthod is better - information gain or gini gain ?
* A. The major difference is computation power, gini take less.
* B. Rest of the stuff don't vary much